.mobile-label {
    display: none;
}
.type--right {
  text-align: right;
}

#ponnumber {
  border-right: 0.5px solid #064B94;
}

mat-header-cell {
    border-right: 1px solid white;
    background: #064B94;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;   
    text-align: left;
    font-weight: 100;
    justify-content: center;
}
mat-cell {
    border-right: 0.5px solid #064B94;
    color: #064B94;
    background: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;  
    text-align: center;
    text-justify: inter-word;
    font-weight: 100;
    justify-content: center;
}

mat-cell:first-child {
  padding-left: 0px;
}

mat-header-cell:first-child {
  padding-left: 0px;
}

.paginationinfo {
  color: #064B94;
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 15px;
}

mat-header-row {
  min-height: 92px;
  text-align: center;
}

#category {
  background: #0F75BD;
  color: white; 
}

mat-row {
  border: 0.5px solid #064B94 ;  
  min-height: 75px;
} 

mat-header-row {
  border: 0.5px #064B94 solid;  
}

mat-table {
  border-bottom: 1px solid #064B94;
  box-shadow: 0px;
}

mat-cell a {
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-weight: 100;
  justify-content: center;
}

table {
  border-collapse:collapse;
  border:none;
  border-right: hidden;
  border-left: hidden;
  border-color: #064B94;
  width:88%;
  margin: 0 auto 25px auto;
}
.tableheader {
  background: #064B94;
  color: white;
  height: 50px; 
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  font-weight: 600;
}
.rowstyle {
  font-size: 12pt;
  color: #064B94;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

.columnstyle {
  padding: 5pt 1pt 5pt 5pt;
}

.tableheaderinfo {
  padding: 15pt 1pt 15pt 5pt;
}

.title {
  padding-right:100pt;
}

.columnvalue {
  text-align: center;
  font-size: 10pt;
  color: #064B94;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}
  @media(max-width: 767px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px 0px 24px;
      min-height: 20px;
    }
  }

@media(max-width: 767px) { 
  .desktop { display:none; }
  .mobile { display: block; }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media(min-width: 768px) { 
  .desktop { display:block; }
  .mobile { display: none; }
}



