<form [formGroup]="userPasswordForm" (ngSubmit)="onFormSubmit(userPasswordForm.value)">
  
<table>
   <tr>
      <td colspan="2">
          <mat-form-field>
              <input formControlName="username" matInput placeholder="User Name" readonly>
          </mat-form-field>          
      </td>
  </tr>
  <tr>
      <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            <span *ngIf="!userPasswordForm.get('password').valid && userPasswordForm.get('password').touched">Please
                enter valid password !!!</span>
        </mat-error>
        </mat-form-field>
  </tr>
  <tr>
      <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password">
          <mat-error>
            <span *ngIf="!userPasswordForm.get('confirm_password').valid && userPasswordForm.get('confirm_password').touched">Password doesn't match</span>
        </mat-error>
      </mat-form-field>

  </tr>
  <tr>
      <td class="content-center">
          <button mat-raised-button color="accent">Submit</button>
          <button mat-raised-button color="accent">Clear</button>
      </td>
  </tr>
  </table>
</form>