<div>
  <table>
    <tr>
      <td>
        extendedDeMarc
      </td>
      <td>
        {{orderDetail?.extendedDeMarc}}
      </td>
    </tr>
    <tr>
      <td>
        routerPassword
      </td>
      <td>
        {{orderDetail?.routerPassword}}
      </td>
    </tr>
    <tr>
      <td>
        providerDNS
      </td>
      <td>
        {{orderDetail?.providerDNS}}
      </td>
    </tr>
    <tr>
      <td>
        dnsNotes
      </td>
      <td>
        {{orderDetail?.dnsNotes}}
      </td>
    </tr>
    <tr>
      <td>
        routerIncluded
      </td>
      <td>
        {{orderDetail?.routerIncluded}}
      </td>
    </tr>
    <tr>
      <td>
        lecCircuitId
      </td>
      <td>
        {{orderDetail?.lecCircuitId}}
      </td>
    </tr>
    <tr>
      <td>
        providedBy
      </td>
      <td>
        {{orderDetail?.providedBy}}
      </td>
    </tr>
    <tr>
      <td>
        carrierCuitId
      </td>
      <td>
        {{orderDetail?.carrierCuitId}}
      </td>
    </tr>
    <tr>
      <td>
        lecCircuitIdZ
      </td>
      <td>
        {{orderDetail?.lecCircuitIdZ}}
      </td>
    </tr>
    <tr>
      <td>
        providedByZ
      </td>
      <td>
        {{orderDetail?.providedByZ}}
      </td>
    </tr>
    <tr>
      <td>
        serIpFromCarrier
      </td>
      <td>
        {{orderDetail?.serIpFromCarrier}}
      </td>
    </tr>
    <tr>
      <td>
        custSerIpFromCarrier
      </td>
      <td>
        {{orderDetail?.custSerIpFromCarrier}}
      </td>
    </tr>
    <tr>
      <td>
        ipReceivedFromCarrier
      </td>
      <td>
        {{orderDetail?.ipReceivedFromCarrier}}
      </td>
    </tr>

  </table>
</div>