<section class="desktop" *ngIf="dataLoaded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" id="header">
        <span>{{order.companyName}}</span>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 45px;">
    <div class="row">
      <div class="col-6">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;width: 45%;">Office Location</td>
              <td style="padding: 15pt 1pt 1pt 5pt;width: 300px;">On-Site Contact</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.name}}</td>
              <td class="columnstyle">{{order.headLocation.firstName}} {{order.headLocation.lastName}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.npa}}-{{order.headLocation.nxx}}</td>
              <td class="columnstyle">Ph: {{order.headLocation.contactPhone}} ext: {{order.headLocation.contactExtension}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.address}}</td>
              <td class="columnstyle">Cell: {{order.headLocation.contactCell}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.city}}, {{order.headLocation.state}}
                {{order.headLocation.zip}}</td>
              <td class="columnstyle"></td>
            </tr>
          </tbody>
        </table><br>
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;width: 45%;">Account</td>
              <td style="padding: 15pt 1pt 1pt 5pt;width: 300px;"></td>
            </tr>
            <tr class="rowstyle" *ngIf="order.accountNumber != ''">
              <td class="columnstyle">Account Number</td>
              <td class="columnstyle">{{order.accountNumber}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.ponNumber != ''">
              <td class="columnstyle">PON Number</td>
              <td class="columnstyle">{{order.ponNumber}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.serviceCategory != ''">
              <td class="columnstyle">Service</td>
              <td class="columnstyle">{{order.serviceCategory}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.mediaType != ''">
              <td class="columnstyle">Media</td>
              <td class="columnstyle">{{order.mediaType}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.bandwidth != ''">
              <td class="columnstyle">Bandwidth</td>
              <td class="columnstyle">{{order.bandwidth}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.orderServiceState != ''">
              <td class="columnstyle">State</td>
              <td class="columnstyle">{{order.orderServiceState}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.orderServiceCountry != ''">
              <td class="columnstyle">Country</td>
              <td class="columnstyle">{{order.orderServiceCountry}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;width: 50%;">Order Detail</td>
              <td style="padding: 15pt 1pt 1pt 5pt;width: 300px;"></td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.extendedDeMarc && orderInfo.extendedDeMarc != ''">
              <td class="columnstyle">Extend Demarc:</td>
              <td class="columnstyle">{{orderInfo.extendedDeMarc}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.routerIncluded && orderInfo.routerIncluded != ''">
              <td class="columnstyle">Router Included:</td>
              <td class="columnstyle">{{orderInfo.routerIncluded}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.serIpFromCarrier && orderInfo.serIpFromCarrier != ''">
              <td class="columnstyle">Serial IP from Carrier:</td>
              <td class="columnstyle">{{orderInfo.serIpFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.custSerIpFromCarrier && orderInfo.custSerIpFromCarrier != ''">
              <td class="columnstyle">Customer Serial IP from Carrier:</td>
              <td class="columnstyle">{{orderInfo.custSerIpFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="phoneStringArray && phoneStringArray != ''">
              <td class="columnstyle">DID:</td>
              <td class="columnstyle">{{phoneStringArray}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.ipReceivedFromCarrier && orderInfo.ipReceivedFromCarrier != ''">
              <td class="columnstyle">LAN IP's:</td>
              <td class="columnstyle">{{orderInfo.ipReceivedFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.routerPassword && orderInfo.routerPassword != ''">
              <td class="columnstyle">Router Password:</td>
              <td class="columnstyle">{{orderInfo.routerPassword}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.providerDNS && orderInfo.providerDNS != ''">
              <td class="columnstyle">Provider DNS:</td>
              <td class="columnstyle">{{orderInfo.providerDNS}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.dnsNotes && orderInfo.dnsNotes != ''">
              <td class="columnstyle">Provider DNS Notes:</td>
              <td class="columnstyle">{{orderInfo.dnsNotes}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.lecCircuitId && orderInfo.lecCircuitId != ''">
              <td class="columnstyle">LEC Circuit ID:</td>
              <td class="columnstyle">{{orderInfo.lecCircuitId}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.providedBy && orderInfo.providedBy != ''">
              <td class="columnstyle">Loop Provided By:</td>
              <td class="columnstyle">{{orderInfo.providedBy}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.carrierCuitId && orderInfo.carrierCuitId != ''">
              <td class="columnstyle">Carrier Port/IOC/Bundle Circuit ID:</td>
              <td class="columnstyle">{{orderInfo.carrierCuitId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="mobile" *ngIf="dataLoaded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" id="header">
        {{order.companyName}}
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="subheader">
        Office Location
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-12">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;">Address</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.name}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.npa}}-{{order.headLocation.nxx}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.address}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.city}}, {{order.headLocation.state}}
                {{order.headLocation.zip}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;">On-Site Contact</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">{{order.headLocation.firstName}} {{order.headLocation.lastName}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">Ph: {{order.headLocation.contactPhone}} ext: {{order.headLocation.contactExtension}}</td>
            </tr>
            <tr class="rowstyle">
              <td class="columnstyle">Cell: {{order.headLocation.contactCell}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;">Account</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.accountNumber != ''">
              <td class="columnstyle">Account Number: {{order.accountNumber}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.ponNumber != ''">
              <td class="columnstyle">PON Number: {{order.ponNumber}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.serviceCategory != ''">
              <td class="columnstyle">Service: {{order.serviceCategory}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.mediaType != ''">
              <td class="columnstyle">Media: {{order.mediaType}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.bandwidth != ''">
              <td class="columnstyle">Bandwidth: {{order.bandwidth}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.orderServiceState != ''">
              <td class="columnstyle">State: {{order.orderServiceState}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="order.orderServiceCountry != ''">
              <td class="columnstyle">Country: {{order.orderServiceCountry}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table border="1" cellspacing='50' cellpadding='0'>
          <tbody>
            <tr class="tableheader">
              <td style="padding: 15pt 1pt 1pt 5pt;">Order Detail</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.extendedDeMarc && orderInfo.extendedDeMarc != ''">
              <td class="columnstyle">Extend Demarc: {{orderInfo.extendedDeMarc}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.routerIncluded && orderInfo.routerIncluded != ''">
              <td class="columnstyle">Router Included: {{orderInfo.routerIncluded}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.serIpFromCarrier && orderInfo.serIpFromCarrier != ''">
              <td class="columnstyle">Serial IP from Carrier: {{orderInfo.serIpFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.custSerIpFromCarrier && orderInfo.custSerIpFromCarrier != ''">
              <td class="columnstyle">Customer Serial IP from Carrier: {{orderInfo.custSerIpFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="phoneStringArray && phoneStringArray != ''">
              <td class="columnstyle">DID: {{phoneStringArray}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.ipReceivedFromCarrier && orderInfo.ipReceivedFromCarrier != ''">
              <td class="columnstyle">LAN IP's: {{orderInfo.ipReceivedFromCarrier}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.routerPassword && orderInfo.routerPassword != ''">
              <td class="columnstyle">Router Password: {{orderInfo.routerPassword}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.providerDNS && orderInfo.providerDNS != ''">
              <td class="columnstyle">Provider DNS: {{orderInfo.providerDNS}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.dnsNotes && orderInfo.dnsNotes != ''">
              <td class="columnstyle">Provider DNS Notes: {{orderInfo.dnsNotes}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.lecCircuitId && orderInfo.lecCircuitId != ''">
              <td class="columnstyle">LEC Circuit ID: {{orderInfo.lecCircuitId}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.providedBy && orderInfo.providedBy != ''">
              <td class="columnstyle">Loop Provided By: {{orderInfo.providedBy}}</td>
            </tr>
            <tr class="rowstyle" *ngIf="orderInfo.carrierCuitId &&orderInfo.carrierCuitId != ''">
              <td class="columnstyle">Carrier Port/IOC/Bundle Circuit ID: {{orderInfo.carrierCuitId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>