.desktop .userprofileheader1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;    
    color: #064B94;
    text-align: left;
    text-justify: inter-word;
    font-weight: 600;
    margin-top: 40px;
    text-transform: none;
}
.desktop .userprofileheader2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;    
    color: #064B94;
    text-align: left;
    margin-bottom: 30px;
    font-weight: lighter;
}

.form-control {
    border-radius: 5px;
}


.desktop .formlabel {
    font-size: 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #064B94;
    margin-top: 10px;
    margin-left: 6px;
    font-weight: 500;
}

.desktop input {
    border: 1px #707070 solid;
    border-radius: 5px;
}

.desktop #updateprofile2 {
    margin-top: 25px;
    border: 3px;
    color: white;
    background-color: #0F75BD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: calc(2.25rem + 20px);
    cursor: pointer;
}

.is-invalid {
    border: 2px solid #cf4b63 !important;
}

.is-invalid1 {
    border: 2px solid #cf4b63 !important;
}

.invalid-feedback {
    color: #cf4b63;
    font-weight: 500;
    margin-left: 6px;   
}

.desktop .form-control {
    height: calc(2.25rem + 10px);
}

.desktop input {
    font-size: 16px;
    color: #064B94;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@media (max-width: 767px) {
    .desktop {
        margin-bottom: 50px;
    }
    .desktop .form-control {
        height: calc(2.25rem + 25px);
    }
    .desktop .userprofileheader1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20pt;    
        color: #064B94;
        text-align: left;
        text-justify: inter-word;
        font-weight: 600;
        margin-top: 75px;
    }
    .desktop .userprofileheader2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;    
        color: #064B94;
        text-align: left;
        font-weight: lighter;
    }
    
}