<mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
        Edit user profile
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="userProfileForm" (ngSubmit)="onFormSubmit(userProfileForm.value)">            
                <input formControlName="userSerId"  type="hidden">
                <input formControlName="personSerId" type="hidden">
                <input formControlName="locationSerId" type="hidden">
                <input formControlName="companyId" type="hidden">
            <table>                   
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <input formControlName="username" matInput placeholder="User Name">                            
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('username').valid && userProfileForm.get('username').touched">Please enter valid user name !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="firstName" matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('firstName').valid && userProfileForm.get('firstName').touched">Please enter valid first name !!!</span>  
                         </mat-error>  
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="lastName" matInput placeholder="Last Name">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('lastName').valid && userProfileForm.get('lastName').touched">Please enter valid last name !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="registerDate" matInput placeholder="Register Date">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="email" matInput placeholder="Email">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('email').valid && userProfileForm.get('email').touched">Please enter valid email !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="address" matInput placeholder="Address">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('address').valid && userProfileForm.get('address').touched">Please enter address !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="city" matInput placeholder="City">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('city').valid && userProfileForm.get('city').touched">Please enter city !!!</span>  
                         </mat-error> 
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input formControlName="state" matInput placeholder="State">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('state').valid && userProfileForm.get('state').touched">Please enter state !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="demo-full-width">
                            <input formControlName="zipCode" matInput placeholder="Zipcode">
                        </mat-form-field>
                        <mat-error>  
                                <span *ngIf="!userProfileForm.get('zipCode').valid && userProfileForm.get('zipCode').touched">Please enter zip code !!!</span>  
                         </mat-error> 
                    </td>
                </tr>
                <tr>
                    <div formArrayName="officePhone">

                        <div *ngFor="let address of userProfileForm.controls.officePhone.controls; let i=index">
                            <div [formGroupName]="i">

                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="phoneNumber" matInput placeholder="Office Phone">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="extension" matInput placeholder="Extn">
                                    </mat-form-field>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>

                    <div formArrayName="cellPhone">

                        <div *ngFor="let address of userProfileForm.controls.officePhone.controls; let i=index">
                            <div [formGroupName]="i">
                                <td colspan="2">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="phoneNumber" matInput placeholder="Cell Phone">
                                    </mat-form-field>
                                </td>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div formArrayName="fax">

                        <div *ngFor="let address of userProfileForm.controls.officePhone.controls; let i=index">
                            <div [formGroupName]="i">
                                <td colspan="2">
                                    <mat-form-field class="demo-full-width">
                                        <input formControlName="phoneNumber" matInput placeholder="Fax Phone">
                                    </mat-form-field>
                                </td>
                            </div>  
                        </div>
                    </div>
                </tr>
                <tr>  
                        <td colspan="2">  
                            <mat-slide-toggle formControlName="isActive" (change)="onChange($event)">Active?</mat-slide-toggle>  
                        </td>  
                    </tr>  
                <tr>
                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="accent">Submit</button>
                        <button mat-raised-button color="accent">Clear</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>