<section class="desktop">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="copyUser($event)"> <label class="form-check-label">Same
                        as Account
                    </label>
                </div>
                <form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm)">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">First Name *</label>
                                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Last Name *</label>
                                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Company Name *</label>
                                        <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                                        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                                            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Phone Number *</label>
                                        <input type="text" [textMask]="{mask: mask,guide : false}" formControlName="phoneNumber"
                                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                            <div *ngIf="f.phoneNumber.errors.required">
                                                Phone Number is required</div>
                                            <div *ngIf="f.phoneNumber.errors.minlength">
                                                Invalid Phone Number</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Address *</label>
                                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 multiple">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">City *</label>
                                        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                            <div *ngIf="f.city.errors.required">City is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 multiple">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">State *</label>
                                        <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                            <div *ngIf="f.state.errors.required">State is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Zip *</label>
                                        <input type="text" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
                                        <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                                            <div *ngIf="f.zip.errors.required">Zip is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="noteid">
                                <div class="col-12">
                                    <span class="note">* These fields are required</span><br><br>
                                    <span class="note">** Please note a sales representative will contact you to
                                        better
                                        provide you with a full solution!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="service" class="formlabel">Service *</label>
                                        <select formControlName="service" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.service.errors }">
                                            <option [value]="service" *ngFor="let service of services">{{service}}</option>
                                        </select>
                                        <i class="fa fa-chevron-down"></i>
                                        <div *ngIf="submitted && f.service.errors" class="invalid-feedback">
                                            <div *ngIf="f.service.errors.required">Service is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="priority" class="formlabel">Priority *</label>
                                        <select formControlName="priority" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }">
                                            <option [value]="priority" *ngFor="let priority of priorities">{{priority}}</option>
                                        </select>
                                        <i class="fa fa-chevron-down"></i>
                                        <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                                            <div *ngIf="f.priority.errors.required">Priority is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="firstname" class="formlabel">Message * <span style="font-weight: 600;">(max
                                                2000 characters)</span></label>
                                        <textarea formControlName="emailBody" class="form-control" maxlength="2000"
                                            [ngClass]="{ 'is-invalid': submitted && f.emailBody.errors }" rows="10"></textarea>
                                        <div *ngIf="submitted && f.emailBody.errors" class="invalid-feedback">
                                            <div *ngIf="f.emailBody.errors.required">Message is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 col-sm-2 col-md-1 col-lg-3 col-xl-3"></div>
                                <div class="col-8 col-sm-8 col-md-10 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <button type="submit" class="form-control" id="requestquote1">Request Quote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>