.desktop .formlabel {
    font-size: 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #064B94;
    margin-top: 10px;
    margin-left: 6px;
    font-weight: 500;
}

.form-control {
    border-radius: 5px;
}

.multiple {
    padding-left: 10px;
    padding-right: 0px;
}