.multiple {
    padding-left: 15px;
    padding-right: 0px;
}
.note {
    font-size: 2rem;
    text-align: left;
    color: #064B94;
    margin-top: 10px;
    font-weight: 500;
}
.form-check {
    margin-bottom: 3rem;
}
textarea { height: 20.5rem;}

#requestquote1 {
    margin-top: 25px;
    border: 3px;
    color: white;
    background-color: #0F75BD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: calc(2.25rem + 20px);
}

.is-invalid {
    border: 2px solid #cf4b63 !important;
}

.is-invalid1 {
    border: 2px solid #cf4b63 !important;
}

.invalid-feedback {
    color: #cf4b63;
    font-weight: 500;
    margin-left: 6px;   
}

@media (max-width: 767px) {
    .multiple {
        padding-left: 15px;
        padding-right: 15px;
    }
    #noteid {
        display: none;
    }
}

  