.loginwrapper {  width: 375px; max-width: 375px;}
.loginform, .loginsuccess {
    background: rgb(95,182,232);
    background: -webkit-linear-gradient(bottom left, rgba(95,182,232,1) 0%, rgba(95,182,232,1) 50%, rgba(80,234,248,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(95,182,232,1) 0%, rgba(95,182,232,1) 50%, rgba(80,234,248,1) 100%);
    background: linear-gradient(to top right, rgba(95,182,232,1) 0%, rgba(95,182,232,1) 50%, rgba(80,234,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fb6e8",endColorstr="#50eaf8",GradientType=1);
    padding: 4rem 3rem; 
    margin-top: 75px;
}
.loginheader {
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.loginform label {
    font-size: 12px;
    text-align: left;
    color: white;
    margin-bottom: 0;
}
#loginsubmit {
    background-color: #0F75BD;
    border: 3px white solid;
    width: auto;
    padding: 1rem 6rem;
    color: white;
    margin: 25px auto 0 auto;
    font-size: 12px;
}
.checkwrap {
  position: relative;
  width: 200px; 
  height: 200px;
  margin: 20px auto;
}
.check.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.check:after {
  opacity: 1;
  width: 100px; 
  height: 200px;
  top: 100px;
  left: 0;
  transform-origin: left top;
  border-right: 20px solid #fff;
  border-top: 20px solid #fff;
  content: '';
  position: absolute;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 100px;
    opacity: 1;
  }
  40% {
    height: 200px;
    width: 100px;
    opacity: 1;
  }
  100% {
    height: 200px;
    width: 100px;
    opacity: 1;
  }
}


@media (max-width: 767px) {
  .loginwrapper { max-width: 100%; width: 100%;}
  .loginform, .loginsuccess { height: 100vh; margin: 0; }
  .checkwrap { margin: 0px auto; }
}