<section class="desktop">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-5 mr-auto ml-auto">
            <div class="loginform d-flex flex-column justify-content-center " *ngIf="!loginsuccessful">
                <h3 class="loginheader"><span class="d-none d-md-block">Stratus Customer</span> Login</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username" class="formlabel">Username</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="formlabel">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control" id="loginsubmit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="loginsuccess d-flex flex-column justify-content-center" *ngIf="submitted && loginsuccessful">
                <h3 class="loginheader">Logged In Successfully!</h3>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                  <polyline class="path check" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                </svg>
            </div>
        </div>
    </div>
</section>