.sub-header {
    font-size: 20px;
    font-weight: 400;
    color: #064B94;
    text-justify: inter-word;
}

.ticket-btn { margin-top: 20px; }

.ticket-list-container {
    width: 88%;
    margin: 0 auto 25px auto;
}
.ticket-list-header {
      background-color: #064B94;
      color: white;
      font-size: 32px;
      font-weight: 100;
      margin-top: 40px;
      text-justify: inter-word;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header3 {
    color: #064B94;
    font-size: 32px;
    font-weight: 100;
    margin-top: 25px;
    text-justify: inter-word;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.desktop { display:block; }
.mobile { display: none; }

#ponnumber {
  border-right: 0.5px solid #064B94;
}

mat-header-cell {
    border-right: 1px solid white;
    background: #064B94;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;   
    text-align: left;
    font-weight: 100;
    justify-content: center;
}
mat-cell {
    border-right: 0.5px solid #064B94;
    color: #064B94;
    background: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;  
    text-align: center;
    text-justify: inter-word;
    font-weight: 100;
    justify-content: center;
    border-top: 1px solid white;
}

mat-cell:first-child {
  padding-left: 0px;
}

mat-header-cell:first-child {
  padding-left: 0px;
}

.paginationinfo {
  color: #064B94;
    font-size: 16px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 15px;
}

mat-header-row {
  min-height: 92px;
  text-align: center;
}

#category {
  background: #0F75BD;
  color: white; 
}

mat-row {
  border: 0.5px solid #064B94 ;  
  min-height: 75px;
} 

mat-header-row {
  border: 0.5px #064B94 solid;  
}

mat-table {
    border-bottom: 0px solid #0F75BD;
    box-shadow: 0px;
}

mat-cell a {
  cursor: pointer;
  color: #064B94;;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-weight: 100;
  justify-content: center;
}


table:first-child {
  border-collapse:collapse;
  border:none;
  border-right: hidden;
  border-left: hidden;
  border-color: #064B94;
  width:88%;
  margin-left: 25px;
  margin-top: 0px;
}
table {
    border-collapse:collapse;
    border:none;
    border-right: hidden;
    border-left: hidden;
    border-color: #064B94;
    margin-top: 25px;
    width:88%;
    margin-left: 25px;
  }
.tableheader {
  background: #064B94;
  color: white;
  height: 50px; 
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  font-weight: 600;
}
.rowstyle {
  font-size: 12pt;
  color: #064B94;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

.columnstyle {
    border-top: none;
  padding: 0px;
}

.tableheaderinfo {
  padding: 15pt 1pt 15pt 5pt;
  cursor: pointer;
}

.columnvalue {
  text-align: center;
  font-size: 12pt;
  color: #064B94;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

.columnvalue1 {
    text-align: left;
    font-size: 12pt;
    color: #064B94;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  
  }

.example-container {
    margin-top: 50px;
}

.table-padding {
  padding:0px;
}

#seemore {
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
    box-shadow: none;
    text-decoration: underline;
}

.btn-outline-secondary:hover {
    background-color: white !important;
}


.popover .ng-star-inserted .bs-popover-top .popover-body {
    padding: .5rem .75rem;
    color: #064B94;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #064B94;
}

:host >>> .popover-body {
  padding: .5rem .75rem;
    color: #064B94;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #064B94;
}


@media(max-width: 767px) { 
  .desktop { display:none; }
  .mobile { display: block; margin-bottom: 50px;} 
}
@media(max-width: 600px) {
    .mat-header-row {
      display: none;
    }
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px 0px 24px;
      min-height: 20px;
    }
    .sub-header {
      font-size: 20px;
      font-weight: 400;
      color: #064B94;
      text-justify: inter-word;
      line-height: 1;
  }

  .ticket-list-header {
    background-color: #064B94;
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-top: 40px;
    text-justify: inter-word;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1;
}
.header3 {
  color: #064B94;
  font-size: 32px;
  font-weight: 100;
  margin-top: 25px;
  text-justify: inter-word;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1;
}
}

.mat-header-row, .mat-row {
  -ms-flex-align: stretch;
}
mat-table {
  border-bottom: 1px solid #0F75BD;
  box-shadow: 0px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .mat-header-row, .mat-row {
    -ms-flex-align: stretch;
  }
  mat-table {
    border-bottom: 1px solid #0F75BD;
    box-shadow: 0px;
}
}